.pi-icon-menu{
    font-size: 1rem;
    width: 24px;
    height: 24px;
}

.icono-p{
    width: 50px;
    margin-right: 10px;
}

.fondo-c{
    background-color: rgb(0, 0, 0, .1);
    border: solid rgb(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.color-principal{
    background-color: #6c757d;
}

#busqueda_h .ui-inputtext{
    width: 400px;
}
